{% extends 'music/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid p-3 col-sm-4">
        <form class="form-horizontal bg-faded p-3 " action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'music/form-template.html' %}
        <div class="form-group pl-5">
            <div class="">
                <button class="btn btn-success ml-5" type="submit">Add</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}