{% extends 'music/base.html' %}
{% block title %}Add A New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid p-3 mx-auto">
        <form class="form-horizontal bg-faded p-3 col-sm-6" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'music/form-template.html' %}
        <div class="form-group">
            <div class="col-offset-2 col-sm-10">

                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}